<nav class="navbar">
  <div class="logo-section">
    <img routerLink="/navbar" id="img1" src="assets/tgp.jpg" alt="Logo" />
    <p routerLink="/navbar">TalkGPT</p>
  </div>
</nav>
<div class="hero">
  <div class="form-box">
    <div class="social-icons">
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/facebook.png"
        alt=""
      />
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/instagram.png"
        alt=""
      />
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/twitter.png"
        alt=""
      />
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/email.png"
        alt=""
      />
    </div>
    <form id="register" class="input-group" (ngSubmit)="onSubmit()">
      <input
        type="text"
        class="input-field"
        placeholder="Name"
        required
        [(ngModel)]="name"
        name="name"
      />
      <input
        type="text"
        class="input-field"
        placeholder="Email"
        required
        [(ngModel)]="email"
        name="email"
      />
      <div id="pass">
        <input
          type="password"
          class="input-fieldd"
          placeholder="Enter Password"
          required
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <input type="checkbox" class="check-box" /><span
        >I agree to the Terms & Conditions</span
      >
      <button type="submit" class="submit-btn">Register</button>
      <!-- <input type="submit" value="Register" /> -->
    </form>
  </div>
</div>
