.chat-container {
  max-width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  max-height: 600px;
  overflow-y: auto;
}
#main {
  margin-top: 80px;
}

.message {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.received {
  background-color: #f0f0f0;
}

.sent {
  background-color: blue;
  color: #fff;
  text-align: right;
}

.input-box {
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
}

.input-box input {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-box button {
  margin-left: 5px;
  padding: 15px 30px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input-box button:hover {
  background-color: orangered;
}
