<app-navbar></app-navbar>
<div id="main" routerLink="/chat">
  <div *ngIf="isChatVisible" class="chat-container">
    <div class="messages">
      <div
        *ngFor="let message of messages"
        class="message"
        [ngClass]="{ sent: message.sent, received: !message.sent }"
      >
        <p>{{ message.content }}</p>
      </div>
    </div>
    <div class="input-box">
      <input
        type="text"
        #msgInput
        id="msg"
        placeholder="Type your message..."
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
