<div class="hero">
  <div class="form-box">
    <div class="social-icons">
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/facebook.png"
        alt=""
      />
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/instagram.png"
        alt=""
      />
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/twitter.png"
        alt=""
      />
      <img
        src="https://findicons.com/files/icons/2846/20_social_icons/128/email.png"
        alt=""
      />
    </div>
    <form id="login" class="input-group">
      <input type="text" class="input-field" placeholder="Email" required />
      <div id="pass">
        <input
          id="password"
          type="password"
          class="input-fieldd"
          placeholder="Enter Password"
          required
        />
      </div>
      <input type="checkbox" class="check-box" /><span>Remember Password</span>
      <button type="submit" class="submit-btn">Login</button>
    </form>
  </div>
</div>
